.date_input {
  &::before {
    content: attr(placeholder) !important;
    color: var(--chakra-colors-lab_grey-200);
    margin-right: 0.5em;
    text-transform: uppercase;
    font-weight: 600;
  }

  &:focus::before,
  &:valid::before {
    content: "";
  }

  &::-webkit-calendar-picker-indicator {
    display: none;
  }

  &::-webkit-datetime-edit {
    height: 0;
  }

  &:focus,
  &--active {
    &::before {
      display: none;
    }

    &::-webkit-datetime-edit {
      height: auto;
    }
  }
}
